<environment include="Development">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
</environment>
<div class="col-md-6">
    <div class="container">
        <h2>Get in Touch!</h2>
        <ul>
            <li>
                <i class="fa fa-home" aria-hidden="true"></i>
                Uk Creation,
                Udgir,
                MH - 413517
            </li>
            <li>Get in touch with us <a>+91 90 123456</a> </li>
            <li><a href="mailto://uk@gmail.com">uk@gmail.com</a></li>
            <email address="uk@gmail.com" content="Mail us"></email>
           
        </ul>
    </div>
</div>